.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myLineDecoration-modified {
  background: lightblue;
  width: 5px !important;
  margin-left: 3px;
}

.myLineDecoration-add {
  background: green;
  width: 5px !important;
  margin-left: 3px;
}

.myLineDecoration-delete {
  background: red;
  width: 5px !important;
  margin-left: 3px;
}

.myDecoration-function {
  background: yellow;
}

.myDecoration-callsite {
  background: orange;
}

.myDecoration-vardef {
  background: cyan;
}

.myDecoration-varuse {
  background: rgb(221, 247, 255);
}

.my-underline {
  text-decoration: wavy underline red;
}

.react-flow__node-scope.active {
  box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.9);
}

.react-flow__node-scope.selected,
.react-flow__node-scope:hover {
  box-shadow: 0px 0px 8px 0px rgba(100, 100, 100, 0.5);
}

.react-flow__node-scope.selected {
  border-width: 2px;
}

.react-flow__handle {
  z-index: 100;
}
