body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.paneContextMenu > li {
  cursor: default;
  font-family: sans-serif;
  border: 0;
  padding: 5px;
  display: flex;
  align-items: left;
}

.paneContextMenu > li > .icon {
  margin-right: 10px;
}

.paneContextMenu > li:hover {
  background:#f1f3f7;
  color: #4b00ff;
}