.result-status__success{
    font-weight: 500;
    position: absolute;
    padding: 0 6px;
    background-color: rgb(255, 255, 255);
    top: -13.5px;
    left: 15px;
    height: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(214, 222, 230) rgb(214, 222, 230) rgb(255, 255, 255);
    border-image: initial;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    max-width: calc(100% - 30px);
    font-size: 14px;
}
.result-status__success svg{
    margin-top: 5px;
}
.pod-index{
    color: #8b8282;
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
}
